 .app-bar {
   position: fixed !important;
   right: 0 !important;
   left: 0;
   width: auto !important;
   -webkit-transition: left 218ms cubic-bezier(.4, 0, .2, 1);
   -moz-transition: left 218ms cubic-bezier(.4, 0, .2, 1);
   -o-transition: left 218ms cubic-bezier(.4, 0, .2, 1);
   transition: left 218ms cubic-bezier(.4, 0, .2, 1);
 }

 .app-content {
   position: relative;
   margin-right: 20px !important;
   padding-top: 64px !important;
   -webkit-transition: margin-left 218ms cubic-bezier(.4, 0, .2, 1);
   -moz-transition: margin-left 218ms cubic-bezier(.4, 0, .2, 1);
   -o-transition: margin-left 218ms cubic-bezier(.4, 0, .2, 1);
   transition: margin-left 218ms cubic-bezier(.4, 0, .2, 1);
 }

 .app-bar.expanded {
   left: 255px;
 }

 .app-content.expanded {
   margin-left: 255px;
 }

